.me {
    float: right;
    width:250x;
    height:200px;

}
.profile {
    overflow: auto;
}

.newYork {
    margin-right: 2px;
    padding: 10px;
    float: left;
    width:350x;
    height:200px;
}
.paragraph {
    flex: auto;
    padding-left: 2em;
    margin: 1em;
}

.city {
    overflow: auto;
}

body {
    color: white;
    background-image: url('a.jpg');
}
table, tr, th, td {
    width:30%;
    border: 1px solid;
}

.places {
    float: auto;
    overflow: auto;
}




.castel{
    margin: 20px;
    float: right;
    width: 350px;
    height:200px;
}
.good {
    padding-right: 3em;
    float: auto;
    overflow: auto;
}
ul li {
    
    float: auto;
    margin: 20px;
    padding: 2px;
    padding-bottom: 1em;
}
.par {
    margin: auto;
    overflow: auto;
    margin-right: 2em;
    float: left;
    width: 350px;;
    height:200px;
}
.parliment {
    overflow: auto;
}

.iziko {
    overflow: auto;
}
.izi {
    overflow: auto;
    float: right;
    width: 350px;
    height:200px;
    margin: 20px;
}
.underline {
    text-decoration: underline;
}

.ko {
    padding-right: 8em;
}